@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

:root {
    --primary-color: white;
    --roundness: 6px;
}


* {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

button {
    color: var(--textColor);
    text-decoration: none;
    height: auto;
    border: 1px solid var(--lineColor);
    width: 100%;

    padding: 4px;
    
    border-radius: 5px;

    margin-top: 7.5px;
}

button:hover {
    cursor: pointer;
}

body {
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;

    margin: 0;

    display: flex;
}

#content {
    flex: 1;
    padding: 20px;
    margin-left: 240px;
}

kbd {
    border: solid 1px darkgray;
    padding: 2.5px;
    border-radius: var(--roundness);
    box-shadow: 0px 2.5px gray;
    user-select: none;
    font-weight: bold;
}

svg:not(a.gh-icon > svg) {
    width: 1rem;
    fill: var(--textColor);
}

span.nav-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2rem;
}

a.navButton {
    margin: 10px;
    background-color: var(--selectedBgColor);
    border-radius: var(--roundness);
    padding: 2rem;
    width: 9.5rem;
    text-decoration: none;
    text-align: center;

    border-style: solid;
    border-color: var(--lineColor);
}

a.navButton.previousPageBtn::before {
    content: '⭠ ';
}

a.navButton.nextPageBtn::after {
    content: ' ⭢';
}

a.navButton:hover {
    filter: brightness(1.1);
}

@media only screen and (max-width: 600px) {
    #content {
        margin-left: 150px;
    }
}